* {
    font-family: Georgia,Times,Times New Roman,serif; 
}

header {
    position: relative;
    background-color: #323c68;
    padding: 1em;
    text-align: left;
    color: white;
}

#pageTitle {
    text-decoration: none;
    color: white;
}  

#intro {
    text-align: center;
    padding: 2em;
}

.cardwrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #d1cbc8;
    width: 20%;
    height: 10%;
    padding: 2em;
    margin: 0.5em;
    clip-path: polygon(0% 0%, 0% 85%, 15% 100%, 100% 100%, 100% 15%, 85% 0%);
    object-fit: contain;
}

.card a {
    text-decoration: none;
    color: black;
}  

#mySidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #455c64;
    opacity: 0%;
    overflow-x: hidden;
    padding-top: 50px; 
    transition: 0.3s;
}

#mySidenav a, #mySidenav button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    background-color: transparent;
    outline: none;
    border: none;
  }


#mySidenav .sublink {
  color: grey;
  font-size: 20px;
}

#mySidenav a:hover {
    color: #f1f1f1;
  }

#mySidenav .closebtn, #burgermenu {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    #mySidenav {padding-top: 15px;}
    #mySidenav a {font-size: 18px;}
    #mySidenav .sublink {font-size: 15px;}
  }

