article {
    font-size: 15px;
}

.cardwrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.card {
    background-color: #d1cbc8;
    max-width: 25%;
    height: 200px;
    padding: 1em;
    margin: 0.5em;
    clip-path: polygon(0% 0%, 0% 85%, 15% 100%, 100% 100%, 100% 15%, 85% 0%);
    overflow: hidden;
}

img {
    width: 100%;
}

header {
    background-color: #323c68;
    padding: 1em;
    text-align: left;
    color: white;
}

 #burgermenu {
    position: fixed;
    right: 1em;
}