.cardwrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.card {
    background-color: #d1cbc8;
    width: 25%;
    height: 10%;
    padding: 2em;
    margin: 0.5em;
    clip-path: polygon(0% 0%, 0% 85%, 15% 100%, 100% 100%, 100% 15%, 85% 0%);
    object-fit: contain;
}


img {
    width: 50%;
}

header {
    position: relative;
    background-color: #323c68;
    padding: 1em;
    text-align: left;
    color: white;
}

img {
    object-fit: contain;
    float: right;
  }

#mySidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #455c64;
    overflow-x: hidden;
    /* Change if needed */
    padding-top: 50px; 
    transition: 0.5s;
}

#mySidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }

#mySidenav .sublink {
  color: grey;
  font-size: 20px;
}

#mySidenav a:hover {
    color: #f1f1f1;
  }

#mySidenav .closebtn, #burgermenu {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    #mySidenav {padding-top: 15px;}
    #mySidenav a {font-size: 18px;}
  }

